<div id='invisible-form'>
<%= form_for @page do |f| %>
  <%= f.text_field :body_color %> <br>
  <%= f.text_field :text_color %> <br>
  <%= f.text_field :accent_color %> <br>
  <%= f.fields_for :elements do |el| %>
    <%= el.text_field :div %> <br>
    <%= el.text_field :size  %> <br>
    <%= el.text_field :position %> <br>
<% end %>
</div>
<%= f.submit %>
<% end %>
