<%= render choose_nav(@page) if choose_nav(@page) %> 

<% if !@page.not_authorized?(current_user) %>
<%= render 'element', page: @page %>
<% end %>

<div id='page-contents'></div>

<%# <% @page.make_rows.each do |row| %1> %>
<%# <div class="row test-page"> %>
<%#   <% row.each do |div| %1> %>
<%#   <div class="<%=div%>"> %>
<%#     <% if is_element?(div) %1> %>
<%#     <div class="centering-container"> %>
<%#       <img src="<%= rando_image %1> " alt="" /> %>
<%#     </div> %>
<%#     <% else %1> %>
<%#       <h3><%= Faker::Lorem.sentence %1> </h3> <br> %>
<%#       <p> <%= Faker::Lorem.paragraph(10) %1> </p> %>
<%#     <%end %1> %>
<%#   </div> %>
<%#   <% end %1> %>
<%# </div> %>
<%# <% end %1> %>


<div class="row">
  <div id="like_box"><h2> <%= render like_box %> </h2><br>
    This page brought to you by <%= link_to User.find(@page.user_id).email, user_path(User.find(@page.user_id)) %>
  </div></div>

</div>
