<div id="like_input">
  <%= form_for [@page, Like.new] do |f| %>
  <%= f.hidden_field :page_id, value: @page.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label 'Comment and add to favorites' %>
  <%= f.text_field :comment %> <br><br>
  <%= f.submit 'ADD' %>
  <% end %>
</div>

<div id="like_container">
  <% @likes.each do |like| %>
  <%= render('pages/likes/comment_box', like: like) %>
  <% end %>
</div>
