<!DOCTYPE html>
<html>
  <head>
    <title>Wires</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'test.css' %>
    <%= stylesheet_link_tag @page.filepath if (@page && @page.filepath) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
      <%= render choose_nav(@page) %>
      <%= notice if notice %>
      <%= alert if alert %> 
      <%= yield %>
    </div>
    </div>
  </body>
  </html>
