<!DOCTYPE html>
<html>
  <head>
    <title>Wires</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'test.css' %>
    <% if @page %>
      <%= stylesheet_link_tag @page.filepath %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless @page && (!@page.elements.where(div: 0).empty?) %>
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
        <li> <%= link_to 'Sign in', new_user_session_path %> </li>
      </ul>
      </div>
    </div><!-- /.navbar-collapse -->
</nav>
<% end %>
    <div id="main-container" class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
